<div>
  <app-main-chart-widget></app-main-chart-widget>
</div>
<BR>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px"  class="charts-card">
    <mat-card fxFlex="50">
      <app-stock-widget></app-stock-widget>
    </mat-card>
    <mat-card fxFlex="50">
      <app-line-widget></app-line-widget>
    </mat-card>
</div>
<br>
<!--<mat-divider></mat-divider>-->
<!--<br>-->
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px"  class="charts-card">
    <mat-card fxFlex="50">
      <app-browser-widget></app-browser-widget>
    </mat-card>
    <mat-card fxFlex="50">
      <app-temperature-widget></app-temperature-widget>
    </mat-card>
</div>
 <mat-divider></mat-divider>

<!--<div>-->
<!--  <div>table</div>-->
<!--  <div>pie charts</div>-->
<!--</div>-->
